input.search-input{
    
    padding: 5px;
    max-width: 300px;
    width: 100%;
    border-radius: 15px;
   
}

.search-icon-container {
    position: relative;
}



.search-icon{
    
    position: absolute;
    border-radius: 20px;
    background-color: #fff;
    right:0;
    bottom: 0;
    display: inline-block;
    width: 28px;
    height: 25px;
    background-image: url('../../media/images/search-svgrepo-com.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(83%) sepia(96%) saturate(0%) hue-rotate(110deg) brightness(102%) contrast(104%);
    margin-bottom: 2px;

}

