

@import url('./mobile.css');
@import url('./tablet.css');
@import url('./laptop.css');


:root {
    --red: #b5121b;
    --white : #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboty', sans-serif;
}
    
